@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
*{ margin:0; padding:0; outline:none; box-sizing: border-box; outline:none; font-family: 'Open Sans', sans-serif; /*word-break: break-all;*/}
body{ font-family: 'Open Sans', sans-serif;  font-size:14px; margin:0; padding:0; }
a{ text-decoration:none; outline:none;}
img{ border:0px; outline:none; display:block; max-width: 100%;}
h1, h2, h3, h4, h5, h6{ color: #222626; }
p{ color: #959595; }
.blkTxt{ color: #000; }
.whiteTxt{ color:#FFF; }
header, section, footer, .full_width{float: left; width: 100%;}
.wrapper{ margin:0 auto; width: 90%;  max-width: 1170px; }
.top_bar .wrapper{ width: 95%; max-width: 95%; }
@-webkit-keyframes slidermove {0% {transform: scale(1);} 50% {transform: scale(1.1);} 100% {transform: scale(1);}}
@-webkit-keyframes slidermove {0% {transform: scale(1);} 50% {transform: scale(1.1);} 100% {transform: scale(1);}}

@-webkit-keyframes jump {
  0%{
  -webkit-transform: translateY(0);
  transform: translateY(0);
  }
  20%{
  -webkit-transform: translateY(0);
  transform: translateY(0);
  }
  40%{
  -webkit-transform: translateY(-30px);
  transform: translateY(-30px);
  }
  50%{
  -webkit-transform: translateY(0);
  transform: translateY(0);
  }
  60%{
  -webkit-transform: translateY(-15px);
  transform: translateY(-15px);
  }
  80%{
  -webkit-transform: translateY(0);
  transform: translateY(0);
  }
  100%{
  -webkit-transform: translateY(0);
  transform: translateY(0);
  }
}

@keyframes jump {
  0%{
  transform: translateY(0);
  }
  20%{
  transform: translateY(0);
  }
  40%{
  transform: translateY(-30px);
  }
  50%{
  transform: translateY(0);
  }
  60%{
  transform: translateY(-15px);
  }
  80%{
  transform: translateY(0);
  }
  100%{
  transform: translateY(0);
  }
}




.Element_Animation{ transform:scale(1,.8);  visibility:hidden; opacity:0; transition:all 0.8s ease; -webkit-transition:all 0.8s ease;}
.Element_Animation.active{ transform:scale(1,1); visibility:visible; opacity:1;}
.Element_Animation_2{ transform:scale(.8);  visibility:hidden; opacity:0; transition:all 0.8s ease; -webkit-transition:all 0.8s ease;}
.Element_Animation_2.active{ transform:scale(1); visibility:visible; opacity:1;}
.Element_Animation_3{ transform:scale(0); transform: rotate(180deg);  visibility:hidden; opacity:0; transition:all 0.8s ease; -webkit-transition:all 0.8s ease;}
.Element_Animation_3.active{ transform:scale(1); visibility:visible; opacity:1;}


.body_dark{ position: fixed;left: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.0); z-index: 9999999; visibility: hidden; opacity: 0; transition:all 0.8s ease; -webkit-transition:all 0.8s ease; }
.body_dark.active{ background: rgba(0,0,0,0.8); visibility: visible; opacity: 1; }
.res_menu{ position: fixed; top: 0; right: -500px; width: 300px; height: 100%; display: table; z-index: 99999999999; /*transform: scale(0,1); */visibility: hidden; opacity: 0; transition:all 0.8s ease; -webkit-transition:all 0.8s ease; background: rgba(0,0,0,0.5);}
.res_menu.active{/*transform: scale(1,1); */visibility: visible; opacity: 1; right: 0;}
.res_menu .relative{ float: right; width: 300px; height: 100vh; display: table-cell; position: relative; padding: 30px; background-image: linear-gradient(to bottom right, rgba(236, 91, 63, 1), rgba(251, 200, 109, 1)); }
.res_menu .relative .header{ float: left; width: 100%; padding-bottom: 20px; }
.res_menu .relative .header .close{ float: right;  width: 46px; height: 46px; cursor: pointer; }
.res_menu .relative .header .res_menu_logo{ float: right; width: 50px; height: 50px; }
/*.res_menu .relative .close{ position: absolute; width: 46px; height: 46px; left:22px; top: 22px; z-index: 1; cursor: pointer; transition:all 0.1s ease; -webkit-transition:all 0.1s ease;*/ }
.res_menu .relative .close:hover{ transform: scale(1.1); -webkit-transform: scale(1.1); }
.res_menu_cnt{ float: left; width: 100%; background:none; overflow: hidden; }
.res_menu_cnt ul{ float: right; width: 100%; margin:0; padding: 0; list-style: none; max-width: 400px;  }
.res_menu_cnt ul.level_1_ul{ overflow-y: auto; }
.res_menu_cnt ul li{ float: left; width: 100%; text-align: right; position: relative; }
.res_menu_cnt ul li:before{ position: absolute; right: 0; bottom: 0; width: 100%; z-index: 1; content: ""; height: 4px; /*background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,0.5));*/ }
.res_menu_cnt ul li:last-child:before{ display: none; }
.res_menu_cnt ul li a{ padding:10px 0px; float: left; color: #FFFFFF; font-size: 16px; font-weight: 600; text-transform: uppercase; text-align: left; }
.res_menu_cnt ul li .level_2_ul{ float: left; width: 100%; padding-left: 20px; overflow: hidden; max-height: 0; transition:all 0.8s ease; -webkit-transition:all 0.8s ease;}
.res_menu_cnt ul li .level_2_ul .level_2_li{ float: left; width: 100%; }
.res_menu_cnt ul li .level_2_ul .level_2_li a{ font-size: 14px; }
.res_menu_cnt ul li:hover > .level_2_ul{ max-height: 1000px; }
.res_menu_cnt ul li a:hover{ color: #e8e8e8; }

.res_menu .relative .footer{ position: absolute; left: 0; width: 100%; bottom: 0; background: none; padding:20px 30px; }
.res_menu .relative .footer h3{ float: left; width: 100%; font-size: 16px; color: #FFFFFF; text-transform: uppercase; padding-bottom: 10px; }
.res_menu .relative .footer ul{ float: left; width: 100%; list-style: none; margin:0; padding: 0; }
.res_menu .relative .footer ul li{ float: left; width: 25%; max-width: 40px; text-align: center; padding-right: 10px; display: inline-block; list-style: none; }
.res_menu .relative .footer ul li a{ float: left; width: 100%; }

/*home_screens*/
.home_screens{ float: left; width: 100%;}
.home_screens .top_bar{ float: left; width: 100%; padding: 30px 0; background-color: red; /* For browsers that do not support gradients */background-image: linear-gradient(to right, #FFF2D6 , #FFFEFB); /* Standard syntax (must be last) */}
.home_screens .top_bar .left_logo{ max-width: 350px; width: 50%; float: left;  }
.home_screens .top_bar .b_menu_btn{ float: right; cursor: pointer; background: #878787; width: 46px; height: 46px; line-height: 46px; margin:5px 0; text-align: center; color: #C3C3C3; font-size:22px; padding-top: 20px; }
/*.home_screens .top_bar .b_menu_btn:hover{ transform: scale(1.1); -webkit-transform: scale(1.1); transition:all 0.1s ease; -webkit-transition:all 0.1s ease;}*/
/*Slider*/
.home_slider{ float: left; width: 100%; position: relative; }
.slider_cnt{  float: left; width: 100%; overflow: hidden; position: relative; }
.home_slider .slider_cnt img{  -webkit-animation: slidermove 17s infinite; /* Safari 4.0 - 8.0 */ animation: slidermove 17s infinite;}
.home_slider .slider_cnt .absolute{ float:left; width: 100%; position: absolute; z-index: 9; top:0; height: 100%; width: 100%; left: 0; padding-top: 5%; }
.home_slider .slider_cnt .absolute h1{  float:left; width: 100%; max-width: 600px; clear: both; font-size: 40px; font-weight: 300; padding-bottom: 15px; }
.home_slider .slider_cnt .absolute .banner_para{ float: left; width: 100%; max-width: 500px; clear: both; font-size: 18px; line-height: 30px; padding-bottom: 15px; }
.home_slider .slider_cnt .absolute a{ float: left; width: 75px; height: 50px; clear: both; }
.owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev{ position: absolute; width: 26px; height: 56px; margin-top:-28px; top:50%; font-size:0px !important; left: 20px; background: url('../img/left-arrow.png') no-repeat center center !important; }
.owl-carousel .owl-nav .owl-next{ left: auto; right:20px; font-size:0px !important; background: url('../img/right-arrow.png') no-repeat center center !important; }
.home_slider .owl-theme .owl-nav{margin-top: 0px;}

.banner_logo{ position: absolute; z-index: 99999; right: 50px; bottom: -120px; width: 300px; /*-webkit-animation: jump 2.5s ease 0s infinite normal ;
animation: jump 2.5s ease 0s infinite normal ;*/   }


.banner_ul{ float: left; width: 100%; }
.banner_ul li.banner_li{ float: left; width:280px; margin-right: 20px; background: none; border-radius: 20px; border:#EC563D 3px solid; padding: 20px; list-style: none; text-transform: uppercase; font-weight: 600; text-align: center; height: 90px; line-height: 25px; /*background: url(../img/banner_list_bg.png) no-repeat center center;*/ background-size: cover; }
.banner_ul li.banner_li.single_line{ line-height: 50px; }

.white_shadow{  text-shadow: 2px 0px #FFF;}
.black_shadow{  text-shadow: 2px 0px #000;}

/*about_us*/
.about_us{ float: left; width: 100%;padding: 40px 0; }
.sec_heading{ float: left; width: 100%; font-size:36px; font-weight: 300; color: #262626; padding-bottom: 30px; }
.about_us .left_sec{float: left; width: 50%; padding-right: 20px; }
.about_us .right_sec{float: left; width: 50%; padding-left: 20px; }
.about_us .left_sec p, .about_us .right_sec p{ float: left; width: 100%; text-align: left; color: #959595; line-height: 30px; padding-bottom: 30px; }

/**/
.s_bar{ float: left; width: 100%; background: #EB563D; padding: 24px 0; color: #FFFFFF; text-align: right; }
.s_bar .sm{ float: right; display: inline-block; border:#FFFFFF; margin-left:10px; width: 40px; }
.s_bar .sm:hover{transform: scale(1.1); -webkit-transform: scale(1.1);}
.s_bar .sp{ float: right; display: inline-block; line-height: 40px; color: #FFFFFF; margin:0; padding: 0;  }
.rotate{-webkit-transition-duration:.8s;-moz-transition-duration:.8s;-o-transition-duration:.8s;transition-duration:.8s;-webkit-transition-property:-webkit-transform;-moz-transition-property:-moz-transform;-o-transition-property:-o-transform;transition-property:transform;overflow:hidden}
.rotate:hover{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-o-transform:rotate(360deg)}

header{ padding: 25px 50px; background: url('../img/header_bg.png') no-repeat left top; background-size: cover; -webkit-background-size: cover; position: fixed; left: 0; top: 0; width: 100%; transform: scale(1,0); opacity: 0; visibility: hidden; -webkit-transition-duration:.8s;-moz-transition-duration:.8s;-o-transition-duration:.8s;transition-duration:.8s;}
header .logo{ float: left; width: 180px; margin-right: 50px;}
header nav{ float: left; }
header nav ul{ float: left; }
header nav ul li{ float: left; width: auto; display: inline-block; padding-right: 30px; }
header nav ul li a{ float: left; color:#FFFFFF; font-size: 18px; font-weight: 400; line-height: 30px; }
header nav ul li a.active{ font-weight: 700; }
header.fixed{ transform: scale(1,1); opacity: 1; visibility: visible; z-index: 99999999; }


.expertise{ float: left; width: 100%;}
.sec_banner{ float: left; width: 100%; }
.expertise .sec_banner{ height: 350px; background: url(../img/expertise_bg.jpg) no-repeat center center; background-size: cover; background-attachment: fixed; }
.expertise_cnt{ padding: 50px 0; }
.colm-3{ float: left; width: 100%; margin:0; padding: 0; list-style: none; }
.colm-3 .colm-3-li{ float: left; width: 31%; margin-right: 3.33%; background: #FFFFFF; padding: 0px; }
.colm-3 .colm-3-li:nth-child(3n){ float: right; margin-right: 0;  }
.colm-3 .colm-3-li .image{ float: left; width: 100%; text-align: center; padding-bottom: 15px; }
.colm-3 .colm-3-li .image img{ display: inline-block; }
.colm-3 .colm-3-li h3{ float: left; width: 100%; text-align: center; color: #67676d; font-size: 20px; height: 63px; font-weight: 700; padding-bottom: 15px; text-transform: uppercase;}
.colm-3 .colm-3-li p{ float: left; width: 100%; color: #959595; line-height: 30px; font-size: 14px; text-align: left; padding-bottom: 30px; }
.colm-3 .colm-3-li p:last-child{ padding-bottom: 0; }

.referenzen{ float: left; width: 100%; background: url(../img/referenzen_bg.png) no-repeat top center; background-size: cover; padding: 50px 0; padding-top: 295px;}
/*.referenzen .sec_banner{ height: a; background: url(../img/expertise_bg.jpg) no-repeat center center; background-size: cover; background-attachment: fixed; }*/
.referenzen .sec_heading{}
.referenzen .colm-3 .colm-3-li{ background: none; }
.referenzen .colm-3 .colm-3-li h3{ text-align: left; }
.referenzen .second_line{ padding-top: 50px; }

.services{ float: left; width: 100%; background: url(../img/service_bg.png) no-repeat top center; background-size: cover; padding: 120px 0; }
.services .sec_heading{ color: #FFFFFF; }
.services .tab-ul{ float: left; width: 100%; margin:0; padding:0;}
.services .tab-ul li{ float: left; width: 15.8%; background: none; padding: 8px; list-style: none; margin-right: 1%; border:transparent 3px solid; cursor: pointer; position: relative; opacity: 0.5; transition: all 0.8s ease; -webkit-transition: all 0.8s ease;}
.services .tab-ul li:last-child{ margin-right: 0; float: right; }
.services .tab-ul li a{ float: left; width: 100%; word-wrap: break-word; height: 180px; color: #FFFFFF; text-transform: uppercase; line-height: 30px; font-weight: 300; background: url(../img/tab-bg.png) no-repeat top left; padding: 20px; font-size: 18px; background-size: cover; padding-top: 100px; }
.services .tab-ul li:hover{ opacity: 1; border:#FFFFFF 3px solid; }
.services .tab-ul li.active{ border:#FFFFFF 3px solid; opacity: 1; }
.services .tab-ul li.active:before{ content:""; position: absolute; left: 50%; margin-left: -15px; bottom: -43px; width: 0; height: 0; border-left: 30px solid transparent;border-right: 30px solid transparent;border-bottom: 30px solid rgba(255,255,255,0.5); opacity: 1; transform: scale(1);}
.services .tab-ul li:before{content:""; position: absolute; left: 50%; margin-left: -15px; bottom: -43px; width: 0; height: 0; border-left: 30px solid transparent;border-right: 30px solid transparent;border-bottom: 30px solid rgba(255,255,255,0.5); opacity: 0; transform: scale(0); /*transition: all 1s ease;*/}

.tab_container{ float: left; width: 100%; padding: 0px; margin-top: 40px; overflow: hidden; position: relative; background: rgba(255,255,255,0.5); }
.tab_cnt{  float: left; width: 100%; /*background: rgba(255,255,255,0.5); */ padding: 25px; display: none; /*transform: scale(1); margin-right: -0px;  visibility: visible; opacity: 1; transition: all 0.3s ease; transition: all 0.8s ease;*/ }
/*.tab_cnt.active{  visibility: visible; opacity: 1; transform: scale(1); margin-right: 0;  }*/
.tab_cnt#one, .tab_cnt#ab_one{ display: block; }

.tab_cnt .res_tab{ float: left; width: 100%; display: block; }
.tab_cnt h2{ float: left; width: 100%; position: relative; font-size: 24px; font-weight: 300; padding: 10px 20px; display: none; cursor: pointer; color: #e53f24; }
.tab_cnt h2:before{ position: absolute; right: 25px; width: 2px; height: 20px; background: #e53f24; content:""; top: 16px; }
.tab_cnt h2:after{ position: absolute; right: 16px; width: 20px; height: 2px; background: #e53f24; content:""; top: 26px; }
.tab_cnt .left_image{ float: left; width: 30%; }
.tab_cnt .right{ float: left; width: 70%; padding-left: 25px; }
.tab_cnt .right h3{ float: left; width: 100%; color: #e53f24; font-size: 40px; font-weight: 300; padding-bottom: 20px; display: block; }
.tab_cnt .right p{ float: left; width: 100%; color: #363636; font-size: 14px; line-height: 26px; font-weight: 400; padding-bottom: 20px; text-align: left; }

.careers{ float: left; width: 100%; padding-bottom: 50px;}
.careers .sec_banner{ height: 350px; background: url(../img/career_bg.png) no-repeat center center; background-size: cover;  }
.careers .left{ float: left; width: 50%; padding-right: 15px; }
.careers .right{ float: right; width: 50%; padding-left: 15px; }
.careers .left p, .careers .right p{ float: left; width: 100%; color: #252525; line-height: 30px; padding-bottom: 20px; text-align: left; }
.careers .left p:last-child, .careers .right p:last-child{ padding-bottom: 0; }
.career_cnt{ padding: 50px 0; }
.contact{ float: left; width: 100%; padding: 50px 0; background: url(../img/service_bg.png) no-repeat top center; background-size: cover;}
.contact .left{ float: left; width: 40%; padding-right: 15px; }
.contact .right{ float: right; width: 60%; padding-left: 15px; }
.contact .left p, .contact .right p{ float: left; width: 100%; color: #FFFFFF; line-height: 24px; padding-bottom: 20px; }
.contact .left ul{ float: left; width: 100%; margin:0; padding: 0; }
.contact .left ul li{ float: left; width: 100%; margin:0; padding: 0; list-style: none; padding-bottom: 29px; }
.contact .left ul li .image{ float: left; width: 70px; }
.contact .left ul li p{ float: left; width: calc(100% - 70px); padding-left:10px; line-height: 70px; }
.contact .right .form_bg{ float: left; width: 100%; position: relative; background: #FFFFFF; padding: 25px; padding-bottom: 50px; box-shadow: 0px 0px 51px 9px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0px 0px 51px 9px rgba(0, 0, 0, 0.1);  }
.contact .right .form_bg ul{ float: left; width: 100%; margin:0; padding: 0; }
.contact .right .form_bg ul li{ float: left; width: 100%; margin:0; padding: 0; list-style: none; margin-bottom: 15px; color: #8297a7; text-transform: uppercase; }
.contact .right .form_bg ul li .InputTxt{  float: left; width: 100%; border:none; background: #FEEDCE; line-height: 58px; padding: 0 20px; text-transform: uppercase; color: #8297a7; }
.contact .right .form_bg ul li .txtArea{float: left; width: 100%; border:none; background: #FEEDCE; line-height: 35px; font-size: 14px; padding: 0 20px; text-transform: uppercase; color: #8297a7; }
.contact .right .form_bg ul li .inline{ float: left; width: auto; display: inline-block; padding-right: 20px; }
.contact .right .form_bg .btn{ position: absolute; width: 70px; height: 70px; right: 0; bottom: 0; z-index: 9; background: url(../img/btn.png) no-repeat center center, #E94338; color: #FFFFFF; text-align: center; border:none; cursor: pointer; }

/*Custom Check box*/
.styled-checkbox { position: absolute;opacity: 0;}
.styled-checkbox + label { position: relative; cursor: pointer; padding: 0;}
.styled-checkbox + label:before {content: '';margin-right: 10px;display: inline-block;vertical-align: text-top;width: 20px;height: 20px;background: #FEEDCE; border-radius: 0px;}
.styled-checkbox:hover + label:before {background: #E94338;}
.styled-checkbox:focus + label:before {box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.12);}
.styled-checkbox:checked + label:before {background: #E94338;}
.styled-checkbox:disabled + label {color: #b8b8b8;cursor: auto;}
.styled-checkbox:disabled + label:before {box-shadow: none;background: #ddd;}
.styled-checkbox:checked + label:after {content: '';position: absolute;left: 5px;top: 9px;background: white;width: 2px;height: 2px;box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;transform: rotate(45deg);}


footer{ background: #f5f5f5; padding: 95px 0; color: #000; }
.f_logo{ float: left; max-width: 350px; width: 50%; }
.f_ul{ float: left; width: 100%; max-width: 850px;  margin:50px 0; padding: 0; }
.f_ul li{ float: left; width: 33.333%; list-style: none; line-height: 24px; color: #f6f7fa; font-size: 13px; padding-right: 20px; }
.f_ul li:nth-child(2){ padding-top: 24px; }
.f_ul li:nth-child(3){ padding-top: 32px; }
.f_ul li .sm{ float: left; width: 40px; margin-right: 10px; display: inline-block; }
.f_p{ float: left; width: 100%; max-width: 850px; line-height: 24px; font-size: 13px; color: #f6f7fa; }
.f_p span{ font-weight: 600; }

#contact .sec_heading{ color: #FFFFFF; }
#contact .subtxt{ float: left; width:100%; line-height: 30px; font-size: 18px; color: #FFFFFF; padding-bottom: 40px; }

.about_us .left_sec p.subHeading, .about_us .right_sec p.subHeading{ float: left; width: 100%; color: #262626;  padding-bottom: 5px; font-size: 20px; }

.colm-3 .colm-3-li ul{ float: left; width: 100%; margin:0; padding: 0; padding-left: 20px; }
.colm-3 .colm-3-li ul li{ float: left; width: 100%; padding-left: 0px; padding-bottom: 5px; color: #959595; line-height: 30px;  }
.social_m{ float: left; width: 100%; }
.social_m li{ float:left; width: 60px !important; display: inline-block; margin-right: 20px !important; padding-bottom: 0 !important }
.sm_heading{ float: left; width: 100%; font-size: 20px; text-transform: uppercase; font-weight: 600; padding: 30px 0 0 0; }

.newfooter{ float: left; width: 100%; background: #f5f5f5; padding: 90px 0; padding-bottom: 0; }
.newfooter h2{ float: left; width: 100%; font-size: 26px; font-weight: 600; line-height: 30px; padding-bottom: 5  px; color: #262626; }
.newfooter .main_ul{ float: left; width: 100%; list-style: none; }
.newfooter .main_ul .main_li{ float: left; width: 33.33%; }
.newfooter .main_ul .main_li h3{ font-size: 20px; padding-bottom: 5px; }
.newfooter .main_ul .main_li .sec{ float: left; width: 100%; padding-bottom: 10px; }
.pdf_link{ float: left; width: 100%; margin: 40px 0; }
.pdf_link a{ width: 50px; float: left; }
.pdf_link a img{max-width: 100%;}
.newfooter .main_txt{ float: left; width: 100%; line-height: 20px; text-align: left; }
.m-top{ margin-top: 40px; }
.m-bottom{ margin-bottom: 40px; }

.cookie_full{ float: left; width: 100%; position: fixed; bottom: 0; left: 0; background: #3E4E5F; padding: 20px 30px; opacity: 0; visibility: hidden; z-index: 9999999; }
.cookie_full.active{ opacity: 1; visibility: visible; }
.cookie_full .txt{ float: left; width: calc(100% - 130px); font-size: 14px; color: #f5f5f5;}
.cookie_full .txt a.link{ color: #0073B1;  }
.cookie_full .btn{ float: right; width: 100px; background: #f5f5f5; color:#262626; border-radius: 3px; border:none; padding: 10px; cursor: pointer; }
.newfooter .half_width{ float: left; width: 50%; }
.newfooter .half_width .icon{ float: left; width: 50px; }
.newfooter .half_width .txt{ float: left; width: calc(100% - 60px); padding-left: 20px; font-weight: 600; line-height: 50px; color: #222626; font-size: 20px; }
.pdf_div{ float: left; width: 100%; margin: 30px 0; margin-bottom: 60px; }

.home_screens .top_bar .b_menu_btn{ background: none; }
.b_icon{ float: left; width: 46px; height: 3px; background: #262626; position: relative; border-radius: 3px; transition:all 0.8s ease; -webkit-transition:all 0.8s ease; }
.b_icon:after{ position: absolute; content: ""; width: 36px; height: 3px; margin-left: -18px; left: 50%; background: #262626; top: -10px; border-radius: 3px; }
.b_icon:before{ position: absolute; content: ""; width: 36px; height: 3px; margin-left: -18px; left: 50%; background: #262626; bottom: -10px; border-radius: 3px; }

.home_screens .top_bar .b_menu_btn:hover > .b_icon:after{ animation: mymove 1s; transition:all 0.8s ease; -webkit-transition:all 0.8s ease; }
.home_screens .top_bar .b_menu_btn:hover > .b_icon:before{ animation: mymove 1s; transition:all 0.8s ease; -webkit-transition:all 0.8s ease; }

@keyframes mymove {
    0%   {left: 50%;}
    50%  {left: 100%;}
    100% {left: 50%;}
}

#boxscroll {overflow: auto;}
.special_heading{ float: left; width: 100%; background: url(../img/special_heading.jpg) no-repeat center center; background-size: cover; line-height: 30px; padding: 0 15px; font-weight: 400; margin-bottom: 20px;  }
.special_heading span{ font-weight: 700; }
.c-right{ float: left; width: 100%; color: #67676d; font-size: 20px; text-transform: uppercase; padding-bottom: 20px !important; }
.career_ul{ float: left; width: 100%;  margin:0; padding: 0;}
.career_ul li{ float: left; width: 50%; padding-right: 20px; line-height: 62px; margin: 0; padding: 0; list-style: none; margin-bottom: 20px;}
.career_ul li:nth-child(even){ padding-right: 0; }
.career_ul li .images{ float: left; width: 62px; }
.career_ul li p{ float: left; width: calc(100% - 62px) !important; padding-left: 20px; line-height: 62px !important; }


.about_tab{ float: left; width: 100%; padding: 100px 0 50px 0; }
.about_tab .sec_heading{ color: #FFFFFF; }
.about_tab .tab-ul{ float: left; width: 100%; margin:0; padding:0;}
.about_tab .tab-ul li{ float: left; width: 32.6%; background: none; padding: 8px; list-style: none; margin-right: 1%; border:transparent 3px solid; cursor: pointer; position: relative; opacity: 0.7; transition: all 0.8s ease; -webkit-transition: all 0.8s ease;}
.about_tab .tab-ul li:last-child{ margin-right: 0; float: right; }
.about_tab .tab-ul li a{ float: left; width: 100%; word-wrap: break-word; height: 100px; color: #FFFFFF; text-transform: uppercase; line-height: 30px; font-weight: 300; background: url(../img/tab-bg-2.png) no-repeat top left; padding: 20px; font-size: 18px; background-size: cover; padding-top: 55px;  }
.about_tab .tab-ul li:hover{opacity: 1; border:#EECD9B 3px solid; }
.about_tab .tab-ul li.active{ border:#EECD9B 3px solid; opacity: 1; }
.about_tab .tab-ul li.active:before{ content:""; position: absolute; left: 50%; margin-left: -15px; bottom: -43px; width: 0; height: 0; border-left: 30px solid transparent;border-right: 30px solid transparent;border-bottom: 30px solid rgba(255,255,255,0.5);}

.about_tab .tab-ul li.active:before{ content:""; position: absolute; left: 50%; margin-left: -15px; bottom: -43px; width: 0; height: 0; border-left: 30px solid transparent;border-right: 30px solid transparent;border-bottom: 30px solid rgba(255,255,255,0.5); opacity: 1; transform: scale(1);}
.about_tab .tab-ul li:before{content:""; position: absolute; left: 50%; margin-left: -15px; bottom: -43px; width: 0; height: 0; border-left: 30px solid transparent;border-right: 30px solid transparent;border-bottom: 30px solid rgba(255,255,255,0.5); opacity: 0; transform: scale(0); /*transition: all 1s ease;*/}


/*.about_tab .tab_cnt{ background: #FFF1D5; }*/
.about_tab .tab-ul li.active:before{ border-bottom: 30px solid #FFF1D5; }
.pd-b-20{ padding-bottom: 20px; }
.spcl_padding{ padding-top: 130px !important; }
.about_tab .tab_container{background: #FFF1D5;}

.tab_container{ min-height: 495px; }

.about_tab .tab_container{ min-height: 475px; }
.contact .left ul li a { color: #FFFFFF; }


#morecnt{display:none;}
.morebtn_div{ float:left; width:100%; text-align:center;}
.more{ display:inline-block;background: #E1666C;
    line-height: 30px;
    padding: 0 10px;
    color: #FFFFFF; cursor:pointer; float:center;}
    

@media screen and (max-width: 650px){
.home_slider .slider_cnt .absolute {
    padding-left: 0 !important;
}

.home_slider .slider_cnt .absolute h1{text-align:center !important;}
.home_slider .slider_cnt .absolute a{margin:0 auto !important;}
.expertise .sec_banner{background-attachment:initial;}
}

@media screen and (min-width: 650px){
  .full_width.expertise_cnt .morebtn_div{display:none;}
#morecnt{display:block;}
}